:root {
    --bg: #000800;
    --fg: #66ff66;
    --link: #99ff99;
    --link-hover: #ccffcc;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: var(--bg);
    color: var(--fg);
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeSpeed;
    font-kerning: none;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "calt" 0;
}

body {
    padding: 24px;
}

a,
a:visited {
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--link-hover);
}

::selection {
    background: #66ff66;
    color: #000800;
}

.ascii-art {
    display:inline-block;
    text-align:left;
    white-space:pre;
    margin:0;
    background-color: var(--bg);
    border:0;
    outline:0;
    box-shadow:none;
    line-height:1;
}
